

<footer class="bg-secondary m-0 p-5">
    <div class="container">
        <p>This work has been developed as a requirement for the course From design to software in TUWIEN</p>
        <p><i class="fas fa-balance-scale"></i> Ahmad & Hasan - <a
                href="https://github.com/HasanKhatib/Validating-machine-actionable-DMP/blob/master/LICENSE">MIT License</a>
        </p>
    </div>
</footer>
<script src="/js/jquery-3.3.1.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/validation.js"></script>

</body>

</html>