<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>maDMP Validator - RDA</title>

    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="/js/388d59fe68.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ajv/6.10.0/ajv.bundle.js"></script>
    <script type="text/javascript" src="/schema.json"></script>
</head>

<body id="page-top" class="bg-light">
<div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container">
        <a href="javascript:void(0);" class="navbar-brand">maDMP Validation</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item">
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">Contributors <i class="fab fa-github"></i></a>
                        <div class="dropdown-menu" x-placement="bottom-start"
                             style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                            <a href="https://github.com/hertai86/" target="_blank" class="dropdown-item">
                                Ahmed Alherthani <i class="fas fa-external-link-alt"></i>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="https://github.com/HasanKhatib/" target="_blank" class="dropdown-item">
                                Hasan Alkhatib <i class="fas fa-external-link-alt"></i>
                            </a>

                        </div>
                    </li>
                </ul>
            </ul>


        </div>
    </div>
</div>
